.featured-flex-box{
  flex: 1;
  display: flex;                   /* defines flexbox */
  flex-direction: column;          /* top to bottom */
  justify-content: space-between;  /* first item at start, last at end */
}

.others-flex-box{
  height: 80px;
  display: flex;                   /* defines flexbox */
  flex-direction: column;          /* top to bottom */
  justify-content: space-between;  /* first item at start, last at end */
}

.featured{
  background-color: #e4ede3;
}

.contact{
  background-color: #e4ede3;
}

.title{
  color: #646464;
}
.subtitle{
  color: #646464;
}
.box{
  display: flex;
  flex-flow: column;
}
.tags{
  margin-top: auto;
  vertical-align: bottom;
}

.description{
  margin-bottom: 20px;
}